seeding_folder: "/path/to/your/seeding/folder"
torrent_folder: "./torrent-files"
source:
  cookie: "./source_cookie.txt"
  url: "https://purple.ch"
  acronym: "PUR"
  announce_host: "purpsfor.me"
target:
  cookie: "./target_cookie.txt"
  url: "https://curry.network"
  announce_host: "home.curry.ch"
  acronym: "CUR"