seeding_folder: "/path/to/your/seeding/folder"
torrent_folder: "./torrent-files"
PUR:
  cookie: "./source_cookie.txt"
  api_key: ajshdiquwhd9812y912y8e11231o2
  url: "https://purple.ch"
  acronym: "PUR"
  announce_host: "purpsfor.me"
CUR:
  cookie: "./target_cookie.txt"
  api_key: hiewf8712yodhih9827y98e919012
  url: "https://curry.network"
  acronym: "CUR"
  announce_host: "home.curry.ch"
SM:
  cookie: "./sm_cookie.txt"
  api_key: 543258712yodhih9827y98e91asdf
  url: "https://awesome.me"
  acronym: "SM"
  announce_host: "tracker.awesome.me"